.hpHeader {
  background-color: lightgray;
  font-family: "Viaoda Libre", cursive;
}

.center {
  justify-content: center;
}
.justify {
  justify-content: space-around;
}

.sweetBox {
  max-height: 50vh;
  min-width: 50%;
  overflow: auto;
}
