/* RESPONSIVE NAV BAR
64em is equivalent to 1028px when basefont is set to 16px 

LARGE BREAKPOINT*/
@media only screen and (min-width: 64rem) {
  nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9c63+0,ff670f+100 */
    background: #ff9c63; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #ff9c63 0%,
      #ff670f 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #ff9c63 0%,
      #ff670f 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #ff9c63 0%,
      #ff670f 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c63', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
  }
  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.6rem 1rem;
  }
} /*END MEDIA QUERY*/
